<div id="banner">
  <div class="banner_content">
    <h1>NoteNote</h1>
    <p> Your online notebook. Never forget an idea again. </p>
    <button><%= link_to " Sign Up", new_user_registration_path%></button>
  </div>
</div>

<div id="testimonial">
  <div class="wrapper">
    <p class="quote">"The greatest notebook application.Period."</p>
    <p class="name">John Shi</p>
  </div>
</div>

<div id="callouts">
  <div class="callout_inner">
    <div class="callout">
      <i class="fa fa-pencil"></i>
      <h2> Notes </h2>
      <p> Viral Echo Park Intelligentsia tattooed, craft beer organic polaroid tousled mlkshk church-key. Fanny pack Banksy vegan  authentic Helvetica.</p>
    </div>
    <div class="callout">
      <i class="fa fa-rocket"></i>
      <h2> Rocket </h2>
      <p> Viral Echo Park Intelligentsia tattooed, craft beer organic polaroid tousled mlkshk church-key. Fanny pack Banksy vegan  authentic Helvetica.</p>
    </div>
    <div class="callout">
      <i class="fa fa-bolt"></i>
      <h2> Lighting </h2>
      <p> Viral Echo Park Intelligentsia tattooed, craft beer organic polaroid tousled mlkshk church-key. Fanny pack Banksy vegan  authentic Helvetica.</p>
    </div>
  </div>
</div>

<div id="bottom_cta">
  <div class="wrapper">
    <h2>For Realz!</h2>
  </div>
  <p>I want you to sign up... If you don’t. I will find you!</p>
  <button><%= link_to "Click Meee!!!", new_user_registration_path%></button>
</div>

<footer>
  <p> &copy; John Shi </p>
</footer>
